.product-card-price {
  font-weight: bolder;
  font-size: xx-large;
  color: #cc0000;
}

.card {
  border-color: #1e262c54 !important;
}

.card .card-title {
  font-size: x-large;
}

.card .card-header {
  background-color: #f56c2d !important;
  color: #fefff2;
}

.title-hover {
  font-size: 30px;
}

.card .card-body {
  background-color: #ebebeb;
}

.card-hover {
  cursor: pointer;
  box-shadow: 0 0 15px #1e262c !important;
}

.available {
  font-size: larger;
  font-weight: normal;
}

.availability-green {
  color: green;
}

.availability-red {
  color: red;
}

.availability-green,
.availability-red {
  font-weight: normal;
}
